body {
    min-height: 100vh;
    background: linear-gradient(#134e4e,#152494);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{list-style: none;
margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;

}
header ul li a:hover ,
header ul li a.active
{
    background: white;
    color: #1637a6;
}
