@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body 
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
list-style: none;
margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;

}
header ul li a:hover,
header ul li a.active
{
    background: white;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 30vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#text
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    
}
#core
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
    transform: translateY(100px);
    left: 100px;
}
#Workshops
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
    transform: translateY(100px);
    left: 500px;
}
#Core_img
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
    transform: translateY(250px);
    left: 100px;
}